@model List<TasteFoodIt.Entities.Mail>
    @foreach(var x in Model)
            {
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt="">
        <div class="status-indicator bg-default"></div>
    </div>
    <div>
        <div class="text-truncate">
            @x.Email
        </div>
        <div class="small text-gray-500">Jaenab · 2w</div>
    </div>
</a>
            }

