﻿<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">TasteFood Admin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/AdminDashboard/Dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList/">
            <i class="fas fa-fw fa-car-alt"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Ürünler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Notification/NotificationList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Bildirimler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminProfile/AdminProfile/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Admin Profilleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ChefController/ChefList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Şefler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminNotification/NotificationList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Mesajlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminOpenHours/OpenHoursList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Açık Günler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminTestimonial/TestimonialList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Referanslar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminSocialMedia/SocialMediaList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Sosyal Medyalar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminReservation/ReservationList/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Rezervasyonlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Slide/SlideAdd/">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Slide Ekleme</span>
        </a>
    </li>
</ul>
